.login {
  display: none;
  position: absolute;
  top: 300px;
  left: 1300px;
}

.signup {
  display: none;
  position: absolute;
  top: 300px;
  left: 1300px;
}

.blogs {
}

.button_pos{
  /*position: fixed;*/
}


.hero h1 {
  font-size: 40px;
  letter-spacing: 12px;
  margin: 40px 0 10px;
  font-weight: 900;
  color: #fff;
}

.hero h1 span {
  color: #a1a9b0;
  display: inline-block;
}

.learn-more-btn {
  background: rgba(61, 201, 179, 1);
  padding: 20px 40px;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px; display: inline-block;
  box-shadow: 0px 3px 0px 0px #309383;
  margin: 60px 0 0;
  font-weight: bold;
}

.learn-more-btn:hover,
.learn-more-btn:focus {
  background: rgba(61, 201, 179, 0.6);
  color: #fff;
}