<div>
  <form action='/authentication/register_user' method='post'>
    <br>
    <br>
    <input type='text' name='email' placeholder='EMAIL'/><br>
    <input type='text' name='password' placeholder='PASSWORD'/><br>
    <input type='text' name='password_confirm' placeholder='PASSWORD'/>
    <input class="btn btn-default"  type='submit' value='sign up'/>
  </form>
</div>

