<br>
<br>
<br>
<br>
<div class="button_pos">
<div class="hero">
      <div class="col-md-6 col-md-offset-3 text-center">
        <a href="/blogs/new" class="learn-more-btn btn-scroll">+Create Blog</a>
      </div>
    </div>
  </div>
<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Blog Title</th>
        <th>Last Modified</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
        <% @user_blogs.each do |blog| %>
        <tr>
          <td><a href="/blogs/<%=blog.id%>"><%= blog.title %></a></td>
          <td><%= blog.updated_at.strftime("%m/%d/%Y at %I:%M %p")%></td>
          <td><a href="/blogs/edit">Edit</a> | <form action="/blogs/<%=blog.id%>" method="post">
   <input name="_method" type="hidden" value="delete"/>
    <input type="submit" value="Delete">
</form>
  </div>
</form></td>
        </tr>
        <% end %>
    </tbody>
  </table>
</div>

