<div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

<div class="blogs">
<% @response.each do |blog| %>
  <p><%= blog.title %></p>
  <p><%= blog.body %></p>
  <% end %>
</div>

</div>


<div class="login">
  <form action='/authentication/login' method='post'>
    <br>
    <br>
    <input type='text' name='email' placeholder='EMAIL'/><br>
    <input type='password' name='password' placeholder='PASSWORD'/><br>
    <input type='submit' value='signin'/>
  </form>
</div>

<div class="signup">
  <form action='/authentication/register_user' method='post'>
    <br>
    <br>
    <input type='text' name='email' placeholder='EMAIL'/><br>
    <input type='text' name='password' placeholder='PASSWORD'/><br>
    <input type='text' name='password_confirm' placeholder='PASSWORD'/><br>
    <input type='submit' value='sign up'/><br>
  </form>
</div>